.container {
  font-family: Inter, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;

  height: 420px;
  width: 800px;
}

.logo {
  font-weight: 700;
  font-size: 15px;
}

.login-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

label {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  width: 695px;
  height : 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-in{
  display:flex;
  justify-content: center;
}

button {
  color: white;
  cursor: pointer;
  display: block;
  gap: 6px;
  width: 700px;
  height: 40px;

  background: #074EE8;
  border-radius: 4px;
  border-color: #074EE8;
  font-size: 15px;
  border-style: solid;

  margin-top: 20px;
  margin-left: 50px;
  margin: 0 auto;
}

.text {
  color: #074EE8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  /* Inside auto layout */
}

.newuser:hover{
  text-decoration: underline;
}

.forgotpass:hover{
  text-decoration: underline;
}

.input-container {
  margin-left: 50px;
  margin-bottom: 10px;

}

input[name="password"] {
  margin-bottom: 30px;
}