{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<head>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>


	<div class="weather-container">

		<div class="current-weather-box">
			<h2 id="forecast-font">Current Weather - Location: {{current_data.location}}</h2>
			<div class="icon">
				<img class="current-weather-icon" src="{{current_data.icon}}">
			</div>
			<div class="current-weather-info">
				<div class="temperature">
					<p>{{current_data.current}}°F</p>
				</div>
				<div class="status">
					<p>{{current_data.status}}</p>
				</div>
			</div>
		</div>

		<div class="forecast-weather-box">
			<h2 id="forecast-font">5 Day Forecast - Location: {{current_data.location}}</h2>
			<div class="week">
				{% for weekly_date, weekly_hi, weekly_lo, weekly_status, weekly_icon in weekly_data %}
				<div class="daily-forecast">
					<div class="weather-info">
						<p class="date">{{ weekly_date }}</p>
						<div class="icon">
							<img class="forecast-weather-icon" src="{{weekly_icon}}">
						</div>
						<div class="current-weather-info">
							<p>{{ weekly_hi }}°F/{{ weekly_lo }}°F</p>
							<p>{{ weekly_status}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div> 

	</div>		  

	<div class="news-container">
		{% for title, description, url, author, date, image in all_news %}
			<div class="news-column">
				<div class="news-article">
					<img class="article-image" src= "{{ image }}">
					<a href="{{ url }}">
						<h3 id="article-title">{{title}}</h3>
					</a>
					<p id="article-content">{{description}}</p>
				</div>
			</div>
			{% endfor %}
	</div>

{% endblock %}
